<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Home  Page
	</title>
	<link rel="stylesheet" type="text/css" href="../css/Style.css">
</head>
<body>

	<div class="logo">
		<img src="../asset/logo.png" class="logoicon">
		<h4 class="language"><span class="bangla">BN</span> / <span>EN</span></h4>
		
	</div>
	<div class="navbar">
		<ul>
			<li><a href="Homepage.html">HOME</a></li>
			<li><a href="#">ADVERTISERS</a></li>
			<li><a href="#">PUBLISHERS</a></li>
			<li><a href="#">INFLUENCERS</a></li>
			<li><a href="#">AD FORMATS</a></li>
			<li><a href="#">BLOG</a></li>
			<li><a href="#">CONTACT US</a></li>
		</ul>
		<div class="button">
			<input type="submit" class="login" name="login" value="LOGIN">
			<input type="submit" class="signup" name="signup" value="SIGN UP">
		</div>
	</div>
	<div class="title">
		<div>
			<h1>Masterkey Technologies Ltd.</h1>
			<h4>
				Masterkey Technologies Ltd. is a disruptive tech startup that is rapidly expanding and experimenting with new approaches to impact the market.
			</h4>
		</div>
		<div>
		<img src="../asset/Masterkey.jpg" class="artwork">
		</div>
	</div>
	<div class="available">
		<h1><span>AVAILABLE FOR EVERYONE</span></h1>
		<h3>Here will be a text</h3>
	</div>
	<div class="icon">
		<div>
			<img src="../asset/speaker.png">
			<p>Text 1</p>
			<input type="submit" name="hello1" value="Hello 1">
		</div>
		<div>
			<img src="../asset/telegram.png">
			<p>Text 2</p>
			<input type="submit" name="hello2" value="Hello 2">
		</div>
		<div>
			<img src="../asset/user.png">
			<p>Text 3</p>
			<input type="submit" name="hello3" value="Hello 3">
		</div>
	</div>
	<div>
		<div class="ad">
			<h1><span>VERSATILE AD FORMATS</span></h1>
		</div>
		<div class="popbtn">
			<input type="submit" name="pop" value="POP_UNDER">
			<input type="submit" name="banner" value="BANNER AD">
			<input type="submit" name="native" value="NATIVE">
			<input type="submit" name="skim" value="SKIM">
		</div>
	</div>
	<div class="poptitle">
		<div>
		<img src="../asset/Masterkey.jpg" class="adformate">
		</div>
		<div>
			<h1>POP-UNDER</h1>
			<h4>
				This is one of the most popular ads. After user’s click, this ad opens landing page in behind. So, the user experience is not hampered much.
			</h4>
		</div>
	</div>
	<div class="title1">
		<h3><span>Title 1</span></h3>
		<div class="achiv">
			<div class="daily">
				<h1>1 BN+</h1>
				<h2 style="background-color: #644F9C;">Daily Impressions</h2>
			</div>
			<div class="paid">
				<h1>$500K+</h1>
				<h2>Paid</h2>
			</div>
			<div class="global">
				<h1>8K+</h1>
				<h2 style="background-color: #FF6F00;">Global Publishers</h2>
			</div>
		</div>
	</div>
</body>
</html>